{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The paradox</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
      *{
        font-family: 'Quicksand', sans-serif; 
      }
    </style>

  </head>
  <nav class="navbar navbar-expand-lg bg-danger bg-subtle bg-gradient">
    <div class="container fluid">
      <a class="nav-item mt-0 text-decoration-none text-dark align-baseline" class="nav-link" href="/">
        <img src="{% static 'imagen/logo.png' %}" alt="...">
        <span class="fs-6">The Paradox</span>
      </a>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
</html>